

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  width: 1500px;
  height: 600px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commentsContainer {
  background-color: #060606;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 700px;
  height: 630px;
  overflow-y: auto;
  margin-left: 10px; 
  
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: aqua;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.input{
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}

.textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #ff3c29;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.button:hover {
  background-color: #ff1f0f;
}
.commentsTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.commentsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commentItem {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commentCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  color: #000;
}

.commentMessage {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.commentPhoto {
  max-width: 100%;
  margin-top: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  font-size: 20px; 
  background-color: #ccc; 
  color: #fff; 
}
.like {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #606060;
  transition: color 0.3s;
}

.like:hover {
  color: #ff0000; /* Change to red when hovered */
}

.like-icon {
  margin-right: 5px;
}
